/////////////////////////////////////////////////////////////
// HEADER
/////////////////////////////////////////////////////////////

.header-div {
	width: 90%;
	height: 30px;
	background: $alt-color; 
	position: fixed;
	padding: 16px 5%;
	font-size: 30px; 
	color: black;
	box-shadow: 0px 3px 2px $darkest-gray;
	p {
		font-size: 22px;
		margin-top: 4px;
		margin-left: 10px;
		&:hover {
			cursor: pointer; 
		}   
	}
	i.fa-plus {
		&:hover {
			color: white;
			cursor: pointer; 
		}
	}
	div {
		&:hover {
			cursor: pointer; 
		}
	}
}

/////////////////////////////////////////////////////////////
// TASKS
/////////////////////////////////////////////////////////////

.tasks-li {
	width: 90%;
	background: $lightest-gray; 
	margin: 13px 0 24px;
	padding: 18px 5%;
	font-size: 24px;
	border-radius: 5px;   
	color: $base-color; 
	box-shadow: 0px 2px 1px $darkest-gray;
	h1 {
		width: 54%;
		text-align: left;
		overflow: scroll;
		&:hover {
			cursor: pointer;
		}
	}
	.trash-div {
		&:hover {
			cursor: pointer;
			color: $darkest-gray; 
		}
	}
	&:hover {
		cursor: pointer;
	}
	label {
		&:hover {
			cursor: pointer;
		}
	}
}

.task-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.list-div {
	margin: 0 auto;
	width: 90%;
	padding-top: 74px; 
}

.checkbox-label {
	z-index: 100;
	i.fa {
		z-index: 100; 
	} 
}

.checkbox-input {
	visibility: hidden;
	position: absolute;
}

.checkbox-input:checked {
	&~ label,
	&~ h1,
	&~ div {
		color: $darkest-gray;
		text-decoration: line-through;
		font-style: italic;	
	}	
}

/////////////// NEW TASK /////////////////////////////////////

.new-input {
	margin: 15px 0 13px; 
	border: 1px solid $alt-color;
	border-radius: 5px;
	width: 90%;
	outline: none;
	background: $lightest-gray; 
	padding: 15px 4.75%;
	font-size: 24px; 
	&:focus {
		padding: 15px 4.5%;
		border: 2px solid $darkest-gray;
	}
}

/////////////////////////////////////////////////////////////
// SIDE BAR
/////////////////////////////////////////////////////////////

// .side-bar {
// 	position: absolute;

// }

.side-bar-div {
	height: 100%;
	position: absolute;
	background: $darkest-blue; 
	z-index: 1000; 
	transition: all .3s;
	visibility: hidden;
	width: 1px; 
	color: white; 
	p {
		opacity: 0; 
	}
	.fa-arrow-circle-o-left {
		opacity: 0; 
	}
}

.wrapper {
	padding: 0;
	transition: all .3s;
}

.home-checkbox {
	visibility: hidden;
	position: absolute;
	&:checked ~ .side-bar .side-bar-div {
		visibility: visible;
		width: 75%;
		transition: width .3s;
	}
	&:checked ~ .side-bar p {
		opacity: 1;
		transition: opacity .01s ease-in .19s;
	}
	&:checked ~ .side-bar .fa-arrow-circle-o-left {
		opacity: 1;
		transition: opacity .01s ease-in .19s;
	}
	&:checked ~ .wrapper {
		padding-left: 75%; 
		transition: all .3s;
	}
}

.filters-div {
	margin: 44px auto 0;
	width: 80%;
	p {
		margin: 15px 0 24px;
		font-size: 24px;
		&:hover {
			cursor: pointer;
			text-decoration: underline;
		} 
	}
}

i.fa-arrow-circle-o-left {
	margin-top: 15px; 
	margin-left: 85%; 
	font-size: 30px;
	right: 15%;
	top: 15px;
	cursor: pointer;
}




























